<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.albuquerque.agendatelefonicanati">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.view.activity.AgendaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_contacts"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_contacts_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".modules.auth.view.AuthActivity"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".modules.contacts.view.ContactsActivity"/>

        <activity android:name=".modules.contacts.view.ContactDetailActivity"/>

        <activity android:name=".modules.contacts.view.NewContactActivity"/>

        <activity android:name=".modules.auth.view.RegisterAccountActivity"/>
    </application>

</manifest>